<div class="container">
    <div class="analysis-frame mx-auto">
        <h1 class="text-center">
            Virus Analysis
        </h1>
        <br>
        <form method="POST" action="/analysis">
            <textarea name="seq" id="seq" class="form-control my-textarea" cols="30" rows="10"></textarea>
            <br>
            <button type="submit" class="btn btn-success btn-block">
                <i class="fas fa-biohazard"></i>
                Analyse
            </button>
        </form>
    </div>
</div>